@tailwind base;
@tailwind components;
@tailwind utilities;

.object-contain {
    object-fit: contain;
}

.object-top {
    object-position: top;
}

.blocker {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 99999;
    opacity: 0.7;
}

.blured {
    filter: blur(8px);
}